target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.metadata


### VS Code ###
.vscode/
/front-end/catalog/dist
/front-end/catalog/tmp
/front-end/catalog/out-tsc
/front-end/catalog/node_modules
